* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  color: #252525;
}

h1,
h2,
nav {
  font-family: var(--font-josefin-sans);
}

body,
p {
  font-family: var(--font-open-sans);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.not-found h1 {
  font-family: var(--font-open-sans);
  margin-right: 10px;
}
