.header {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 40px;
  border-bottom: 1px solid #ced4da;
}

.headerText {
  padding: 20px 0;
}

.header h1 {
  color: #0b7285;
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px; /* optional spacing between posts and sidebar */
  padding: 40px 60px;
}

.body .left .post:first-of-type {
  padding-top: 0;
}

.body .left {
  flex: 1;
}

.body .left .post {
  padding: 50px;
  display: flex;
}

.body .left .post .content {
  margin-left: 40px;
}

.body .left .post .content h2 {
  margin-bottom: 20px;
  color: #0b7285;
}

.postLink {
  text-decoration: none;
  color: inherit;
  display: block;
}
